---
---
<div role="contentinfo" class="text-xs fixed bottom-4 text-white">
    Challenge by <a class="text-xs text-secondary-100" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a class="text-xs text-secondary-100" href="https://www.frontendmentor.io/profile/KorriganMaster">KorriganMaster</a>.
</div>